<div class = "jumbotron center">
	<h1>Welcome to AccelSafety</h1>
	<p>
		<%= link_to "Sign up", "http:/www.google.com", class: "btn btn-primary btn-lg" %>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
	</p>

</div>